.small-project {
  display: flex;
  border-radius: 20px;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5px;
  transition: 300ms;
  padding: 20px;
}

.small-project-mobile {
  display: flex;
  border-radius: 20px;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.small-project:hover {
  background-color: rgba(52, 152, 219, 0.15);
}

.logo-small {
  width: 12vh;
  height: 12vh;
  min-height: 125px;
  min-width: 125px;
}

.logo-small-mobile {
  width: 6vh;
  height: 6vh;
  min-height: 96px;
  min-width: 96px;
}

.project-text {
  color: white;
}

.m-20-left {
  margin-left: 20px;
}

.split {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
