.small-project {
  display: flex;
  border-radius: 20px;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5px;
  transition: 300ms;
  padding: 20px;
}

.small-project:hover {
  background-color: rgba(52, 152, 219, 0.15);
}

.logo-small {
  width: 12vh !important;
  height: 12vh !important;
}

.project-text {
  color: white;
}

.m-20-left {
  margin-left: 20px;
}

.split {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
