.small-project {
  display: flex;
  width: 100%;
  border-radius: 20px;
  align-items: center;
  cursor: pointer;
  margin-bottom: 30px;
}

.logo-small {
  width: 12vh !important;
  height: 12vh !important;
}

.project-text {
  color: white;
}

.m-20-left {
  margin-left: 20px;
}

.split {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
