.button {
  background-color: var(--light-color);
  border: 1px solid var(--dark-color);
  border-radius: 5px;
  padding: 5px 10px;
  transition: 300ms;
  height: 100%;
  cursor: pointer;
}

.disable-selection {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
