.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  /* important don't touch border color */
  border: 2px solid var(--light-color);
  opacity: 0.1;
  margin: 1px;
}

.cell:hover {
  transition: 100ms;
  background-color: rgba(255, 0, 0, 0.1);
}

.cell:hover #path {
  transition: 100ms;
  background-color: rgba(0, 255, 0, 0.3) !important;
}

.visited {
  /* transition: 250ms; */
  opacity: 1;
  background-color: var(--light-color);
}

.up {
  border-top: 2px solid var(--dark-color);
}
.down {
  border-bottom: 2px solid var(--dark-color);
}
.left {
  border-left: 2px solid var(--dark-color);
}
.right {
  border-right: 2px solid var(--dark-color);
}

#path {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.disable-selection {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.thumb {
  height: 20px;
  width: 20px;
  background-color: red;
}

.track {
  background-color: blue !important;
  height: 10px;
}

.horizontal-slider {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
