.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  border: 1px solid var(--light-color);
}

/* .cell:hover {
  background-color: var(--dark-color);
} */

.up {
  border-top: 2px solid var(--dark-color);
}
.down {
  border-bottom: 2px solid var(--dark-color);
}
.left {
  border-left: 2px solid var(--dark-color);
}
.right {
  border-right: 2px solid var(--dark-color);
}
