.gradient-border {
    --borderWidth: 2px;
    background: var(--dark-color);
    position: relative;
    border-radius: var(--borderWidth);
    z-index: 0;
    margin: 10px var(--borderWidth) 15px var(--borderWidth);
  }

.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #5073b8, #1098ad, #07b39b,#1098ad,#5073b8);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 5s ease alternate infinite;
    background-size: 250% 250%;
  }


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


