.header-title {
  color: #f2f2f2;
  font-size: 24px;
}

.header-text {
  color: #f2f2f2 !important;
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px !important;
  font-weight: 300;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
  max-height: 95vh;
  position: sticky;
  top: 0;
}

.navBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.flexCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 35px;
}

.social {
  height: auto;
  width: 35px;
  height: 35px;
  opacity: 0.95;
  cursor: pointer;
  background-color: white;
  border-radius: 100px;
}

.w-5 {
  margin-left: 10px;
}
