@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,bold,italic&subset=latin,latin-ext');

* {
  padding: 0px;
  margin: 0px;
}

input,
textarea,
button,
select,
p,
a {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --dark-color: #181818;
  --light-color: #f2f2f2;
}

.text {
  color: black;
  font-family: 'Montserrat';
  font-size: 18px;
}

.full-page {
  display: flex;
  width: 100vw;
  flex-direction: row;
  scroll-behavior: smooth;
}

.content {
  width: 100vw;
  transition: 500ms ease-out;
  border: none;
  outline: none;
  /* overflow: hidden; */
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

@keyframes fadeInOpacity {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.8s;
}

.disable-selection {
  user-select: none;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

body {
  height: 100%;
}